<div class="login-status-header">
    <span *ngIf="isAuthenticated &&  userFullName"  class="login-status-user-info">
        Welcome back {{userFullName}}!
    </span>

    <button *ngIf="!isAuthenticated" class="security-btn" routerLink="/login">Login</button>
    <button *ngIf="isAuthenticated" class="security-btn" (click)="logout()">Logout</button>
    <button *ngIf="isAuthenticated" class="security-btn ms-1" routerLink="/members">Member</button>
    <button *ngIf="isAuthenticated" class="security-btn ms-1" routerLink="/order-history">Orders</button>
</div>
